In [22]:
import numpy as np
import pandas as pd

ser= pd.Series(np.random.random(5),name = "column 01")
print(ser)
ser[4]

0    0.031778
1    0.192040
2    0.097515
3    0.710427
4    0.730234
Name: column 01, dtype: float64

0.730234003790016

In [27]:
from tracemalloc import start
from pandas_datareader import data as wb    
PG = wb.DataReader('MIRZAINT.NS', data_source='yahoo', start ='2020-1-1')
PG

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-01-01,57.250000,56.299999,57.000000,56.900002,121832.0,56.063236
2020-01-02,61.500000,56.900002,56.950001,59.700001,772512.0,58.822060
2020-01-03,60.599998,58.049999,59.299999,58.349998,317798.0,57.491909
2020-01-06,58.000000,55.150002,58.000000,55.900002,223050.0,55.077942
2020-01-07,58.349998,56.500000,57.299999,56.799999,123574.0,55.964703
...,...,...,...,...,...,...
2022-09-29,343.500000,329.000000,338.700012,336.350006,498423.0,336.350006
2022-09-30,338.350006,327.000000,336.399994,333.700012,306804.0,333.700012
2022-10-03,333.000000,323.100006,329.899994,325.649994,440087.0,325.649994
2022-10-04,341.500000,329.100006,329.649994,337.549988,430406.0,337.549988
2022-10-06,354.000000,337.549988,337.549988,342.549988,452965.0,342.549988